* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background: rgb(195,20,50);
  background: -moz-linear-gradient(0deg, rgba(195,20,50,1) 0%, rgba(37,11,54,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(195,20,50,1) 0%, rgba(37,11,54,1) 100%);
  background: linear-gradient(0deg, rgba(195,20,50,1) 0%, rgba(37,11,54,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  resize: none;
}

h1{
  font-size: 55px;
}

footer{
  background-color: #000;
}

form{
  padding: 85px;
}

.btn1{
  transition: 0.7s;
}

.container1{
  background-color: #fff;
  padding: 55px;
  border-radius: 8px;
  opacity: 0.95;
}

.form-control:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.68;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 12pt;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: #dc3545;
}

#regForm {
  margin: 10px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}


input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

#nextBtn{
  background-color: #dc3545;
}


.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #dc3545;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}


.step.finish {
  background-color: #4CAF50;
}

.tab h1 {
  color: #dc3545;
}

.field-icon {
  font-size: 25px;
  float: right;
  margin-right: 10px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
  color: #dc3545;
}
.fa-eye-slash{
  color: #bbbbbb;
}