body{
  background-color: lightgrey;
}
hr{
  background-color: black;
}

.emp-profile{
  padding: 100px;
  margin-top: 3%;
  margin-bottom: 10%;
  border-radius: 0.5rem;
  background-color: #fcffff;
}
/*Profile Pic Start*/
.picture-container{
  position: relative;
  cursor: pointer;
  /*text-align: center;*/
}
.picture{
  max-width: 280px;
  max-height: 280px;
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.picture:hover{
  border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
  border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
  border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
  border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
  border-color: #ff3b30;
}
.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 280px;
  width: 280px;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
}

.picture-src{
  width: 100%;

}
/*Profile Pic End*/